<div>
  <h1 style="text-align: center">Contact Us</h1>
</div>
<div>
  <p>We love to assist you in any way we can! Have any questions?</p>
</div>
<div>
  <p>
    Tell us about yourself and your query and we promise to respond to you
    within 10 business hours.
  </p>
  <p>
    Call us on +91 9090909090 (between 10 AM to 5:30 PM, Monday-Saturday) for
    sales enquiry.
  </p>
</div>
<div>
  <h2 style="text-align: center">Webinars / Training Sessions</h2>
</div>
<div>
  <p>
    Every week, we offer FREE training to users who want to understand more
    about leveraging effectively in their respective societies. Please book your
    training slot on our training calendar.
  </p>
</div>
