<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
      <div
        class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"
      >
        <i class="fas fa-user-secret me-2"></i>KR Housing Society
      </div>
      <div class="list-group list-group-flush my-3">
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text active"
          ><i class="fas fa-tachometer-alt me-2"></i
          ><a routerLink="/userdashboard">Dashboard</a></a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          ><i class="fas fa-project-diagram me-2"></i>Billing Details</a
        >

        <!-- <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          ><i class="fas fa-paperclip me-2"></i>Services</a
        > -->
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          ><i class="fas fa-shopping-cart me-2"></i
          ><a routerLink="/feedback">FeedbackForm</a></a
        >

        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"
          ><i class="fas fa-power-off me-2"></i
          ><a routerLink="/user">Logout</a></a
        >
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4"
      >
        <div class="d-flex align-items-center">
          <i
            class="fas fa-align-left primary-text fs-4 me-3"
            id="menu-toggle"
          ></i>
          <h2 class="fs-2 m-0">User Dashboard</h2>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle second-text fw-bold"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-user me-2"></i>USER
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row my-5">
        <h3 class="fs-4 mb-3 text-center">
          Billing Details of Respective Blocks
        </h3>
        <div class="col">
          <table class="table bg-white rounded shadow-sm table-hover">
            <thead>
              <tr>
                <th scope="col">BlockName</th>
                <th scope="col">MaintainaceCharges</th>
                <th scope="col">HouseTax</th>
                <th scope="col">WaterTax</th>
                <th scope="col">ParkingCharges</th>
                <th scope="col">CharityFund</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of object">
                <td scope="row">{{ obj.block }}</td>
                <td scope="row">{{ obj.maintainance }}</td>
                <td scope="row">{{ obj.housetax }}</td>
                <td scope="row">{{ obj.watertax }}</td>
                <td scope="row">{{ obj.parking }}</td>
                <td scope="row">{{ obj.charity }}</td>
              </tr>
            </tbody>
          </table>
          <br />

          <div class="buttons text-center">
            <button (click)="getdetails()" class="btn btn-dark">
              GetBillingDetails
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- </div>
</div> -->
