<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
      <div
        class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"
      >
        <em class="fas fa-user-secret me-2"></em>KR Housing Society
      </div>
      <div class="list-group list-group-flush my-3">
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text active"
          ><em class="fas fa-tachometer-alt me-2"></em
          ><a routerLink="/admindashboard">Dashboard</a></a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          ><em class="fas fa-project-diagram me-2"></em
          ><a routerLink="/billing">Billing Register</a></a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          ><em class="fas fa-chart-line me-2"></em
          ><a routerLink="/userbill">Bill Generator</a></a
        >

        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
          ><em class="fas fa-shopping-cart me-2"></em
          ><a routerLink="/receivefeedback">FeedbackFromUser</a></a
        >

        <a
          href="#"
          class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"
          ><em class="fas fa-power-off me-2"></em
          ><a routerLink="/admin">Logout</a></a
        >
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4"
      >
        <div class="d-flex align-items-center">
          <em
            class="fas fa-align-left primary-text fs-4 me-3"
            id="menu-toggle"
          ></em>
          <h2 class="fs-2 m-0">Admin Dashboard</h2>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle second-text fw-bold"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <em class="fas fa-user me-2"></em>KESHAVARAJ
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid px-4">
        <div class="row g-3 my-2">
          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Houses</p>
              </div>
              <em
                class="bi bi-building primary-text border rounded-full secondary-bg p-3"
              ></em>
            </div>
          </div>

          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">3</h3>
                <p class="fs-5">Blocks</p>
              </div>
              <em
                class="bi bi-box2 primary-text border rounded-full secondary-bg p-3"
              ></em>
            </div>
          </div>

          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">2103</h3>
                <p class="fs-5">People</p>
              </div>
              <em
                class="bi bi-people primary-text border rounded-full secondary-bg p-3"
              ></em>
            </div>
          </div>

          <div class="col-md-3">
            <div
              class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
              <div>
                <h3 class="fs-2">%25</h3>
                <p class="fs-5">Increase</p>
              </div>
              <em
                class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"
              ></em>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <h3 class="fs-4 mb-3">Total User Signup Credentials</h3>
          <div class="col">
            <table class="table bg-white rounded shadow-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Contact Number</th>
                  <th scope="col">Email</th>
                  <th scope="col">Block name</th>
                  <th scope="col">BillGeneration</th>
                  <th scope="col">Remove User</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of object">
                  <td scope="row">{{ obj.username }}</td>
                  <td scope="row">{{ obj.phone }}</td>
                  <td scope="row">{{ obj.email }}</td>
                  <td scope="row">{{ obj.blockname }}</td>

                  <td scope="row">
                    <button class="btn btn-warning">
                      <a routerLink="/userbill">Generate</a>
                    </button>
                  </td>

                  <td scope="row">
                    <button class="btn btn-dark" (click)="deluser(obj, obj)">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />

            <div class="buttons text-center">
              <button (click)="getuser()" class="btn btn-dark">
                GetUserDetails
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
