<br />
<br />
<body>
  <div class="row my-5">
    <h3 class="fs-4 mb-3" style="text-align: center">Feedback Response</h3>
    <div class="col">
      <table class="table bg-white rounded shadow-sm table-hover">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Reponse for feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of object">
            <td>{{ obj.username }}</td>
            <td>{{ obj.feedback }}</td>
          </tr>
          <br />
        </tbody>
      </table>
      <br />
    </div>
  </div>
</body>
