body{
    margin-top: 2%;
}
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: .5px solid ;
    text-align: center;
    padding: 0px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }  */