<body>
  <div class="row my-5">
    <h3 class="fs-4 mb-3 text-center">Customer Feedbacks</h3>
    <div class="col">
      <table class="table bg-white rounded shadow-sm table-hover">
        <caption></caption>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Blockname</th>
            <th scope="col">Category</th>
            <th scope="col">Message</th>
            <th scope="col">Respond to Feedbacks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of object">
            <td>{{ obj.name }}</td>
            <td>{{ obj.email }}</td>
            <td>{{ obj.blockname }}</td>
            <td>{{ obj.category }}</td>
            <td>{{ obj.msg }}</td>
            <td>
              <a routerLink="/feeds">
                <button class="btn btn-dark">Respond</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
</body>
