<body>
  <div class="about-section">
    <h1>ABOUT US..!</h1>
    <p>KR HOUSING SOCIETY SOFTWARE</p>
    <p>
      We provide you with a Free Edition of Accounting software for housing
      societies. Being a committee member in Housing Society is a thankless job.
    </p>
  </div>

  <h2 style="text-align: center">Our Main Objectives</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>ABOUT</h2>
          <p>
            100% Automated Society Billing & Collections with Zero Convenience
            Charge Automatically raise maintenance due demand notes every month
          </p>
          <p>
            Send Email / SMS / In-App push notification reminders for overdue
            invoices.
          </p>
          <p>
            KRI Housing society software uses technology to help both the
            residents and managing committee interact seamlessly with each other
            and the other service providers inside the complex, making living in
            an apartment complex a pleasant and convenient experience for the
            whole community.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>SERVICES</h2>
          <p>
            Raise and send invoices against all or select flats based on
            formulae or fixed value or both...
          </p>
          <p>
            Auto-Calculate late payment charges using multiple penalty options
          </p>
          <p>
            Sometimes the interactions leave a bitter taste in their mouth, if
            not outright outrage.
          </p>
          <p>
            Set up Recurring Invoices to be sent out automatically on a given
            date every month.
          </p>

          <p>
            Auto-Calculate late payment charges using multiple penalty options
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>NEEDS</h2>
          <p>
            The need for security, enhanced service levels and convenience has
            led to the rapid emergence of gated communities in India. A closed
            self-sufficient community where all common needs and amenities are
            taken care of is more like a mini-city than just a set of
            apartments.
          </p>
          <p>
            And like cities, they have to be managed properly to function
            effectively as a community. But residents often face a problem
            whenever they have to interact with the caretakers of their
            community.
          </p>
          <p>
            Whenever they have to interact with the caretakers of their
            community. From simple irritants like reaching the Society Office
            during its open hours .
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
