<body>
  <div class="jumbotron text-center">
    <h1>Totally Integrated Housing Society Software</h1>
    <p>
      We provide you with a Free Edition of Accounting software for housing
      societies. Being a committee member in Housing Society is a thankless job
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>About</h3>

        <p>
          100% Automated Society Billing & Collections with Zero Convenience
          Charge Automatically raise maintenance due demand notes every month
        </p>
        <p>
          Send Email / SMS / In-App push notification reminders for overdue
          invoices
        </p>
        <p>
          KRI Housing society software uses technology to help both the
          residents and managing committee interact seamlessly with each other
          and the other service providers inside the complex, making living in
          an apartment complex a pleasant and convenient experience for the
          whole community.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Services</h3>
        <p>
          Raise and send invoices against all or select flats based on formulae
          or fixed value or both...
        </p>
        <p>
          Set up Recurring Invoices to be sent out automatically on a given date
          every month.
        </p>
        <p>
          Auto-Calculate late payment charges using multiple penalty options
        </p>
        <p>
          Automatically collect payments from members using our unique
          Collection Gateway with zero manual intervention and zero Convenience
          charges
        </p>
        <p>
          sometimes the interactions leave a bitter taste in their mouth, if not
          outright outrage.
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Needs</h3>
        <p>
          The need for security, enhanced service levels and convenience has led
          to the rapid emergence of gated communities in India. A closed
          self-sufficient community where all common needs and amenities are
          taken care of is more like a mini-city than just a set of apartments.
        </p>
        <p>
          And like cities, they have to be managed properly to function
          effectively as a community. But residents often face a problem
          whenever they have to interact with the caretakers of their community.
        </p>
        <p>
          Whenever they have to interact with the caretakers of their community.
          From simple irritants like reaching the Society Office during its open
          hours (which is usually the resident.s office time too) to major
          issues like settling maintenance payments of their flat,
        </p>
      </div>
    </div>
  </div>
</body>
