<div>
  <h1 style>Totally Integrated Housing Society Software</h1>
</div>
<div>
  <img src="../../assets/house.jpeg" alt="image" />
</div>
<div>
  <p>
    We provide you with a Free Edition of Accounting software for housing
    societies. Being a committee member in Housing Society is a thankless job
  </p>
</div>
<div>
  <p>
    100% Automated Society Billing & Collections with Zero Convenience Charge
    Automatically raise maintenance due demand notes every month
  </p>
</div>
<div>
  <ul>
    <li>
      Raise and send invoices against all or select flats based on formulae or
      fixed value or both.
    </li>
    <li>
      Set up Recurring Invoices to be sent out automatically on a given date
      every month.
    </li>
    <li>Auto-Calculate late payment charges using multiple penalty options</li>
    <li>
      Automatically collect payments from members using our unique Collection
      Gateway with zero manual intervention and zero Convenience charges
    </li>
    <li>Schedule Defaulters Report to be sent to members every day/week.</li>
    <li>
      Send Email / SMS / In-App push notification reminders for overdue invoices
    </li>
  </ul>
</div>
<div>
  <p>
    The need for security, enhanced service levels and convenience has led to
    the rapid emergence of gated communities in India. A closed self-sufficient
    community where all common needs and amenities are taken care of is more
    like a mini-city than just a set of apartments. And like cities, they have
    to be managed properly to function effectively as a community. But residents
    often face a problem whenever they have to interact with the caretakers of
    their community. From simple irritants like reaching the Society Office
    during its open hours (which is usually the resident.s office time too) to
    major issues like settling maintenance payments of their flat, sometimes the
    interactions leave a bitter taste in their mouth, if not outright outrage.
    On the other side are the unsung heroes of the Managing Committees of an
    Apartment Society or Resident Welfare Association (RWA) who volunteer to
    keep the community functioning. But due to a lack of supporting tools and
    resources, they struggle to achieve their vision for the community.
    ApnaComplex uses technology to help both the residents and managing
    committee interact seamlessly with each other and the other service
    providers inside the complex, making living in an apartment complex a
    pleasant and convenient experience for the whole community.
  </p>
</div>
