<body>
  <header class="header">
    <h1 class="quotes">
      Quality,affordable housing is a key element of a strong and secure lowa
    </h1>
    <!-- <img src="../../assets/applogo.jpg" class="logo" alt="logo" /> -->
    <img src="../../assets/applogo.jpg" class="form__logo" alt="logo" />
    <h1 class="header__title">
      <span class="light-font">KRI Housing </span> society!
    </h1>
    <!-- <p class="header__description">Subscribe and get notified</p> -->
  </header>
  <main class="main-content">
    <!-- <form class="form" novalidate="true">
      <input
        class="form__input"
        type="text"
        placeholder="Your email address..."
        pattern="^([A-Za-z\d.-]+)@([a-z\d]+)(\.[a-z]{2,24}){1,8}$"
        required
      />
      <button class="form__button">Notify me</button>
    </form> -->
    <div class="apartment">
      <img
        src="../../assets/apart.jpg"
        class="main-content__image"
        alt="apartment"
        width="100"
      />
    </div>
  </main>
  <footer class="footer">
    <div class="socials">
      <a
        class="socials__icon-container"
        href="https://www.facebook.com/"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
        <!-- <span class="socials__icon fab fa-facebook-f"></span> -->
      </a>
      <a
        class="socials__icon-container"
        style="color: black"
        href="https://twitter.com/"
        target="_blank"
      >
        <i class="fab fa-twitter"></i>
        <span class="socials__icon bi bi-twitter"></span>
      </a>
      <a
        class="socials__icon-container"
        href="https://www.instagram.com/"
        target="_blank"
      >
        <i class="fab fa-instagram"></i>
        <span class="socials__icon bi bi-instagram"></span>
      </a>
    </div>
    <p class="copyright">&copy; Copyright Keshavaraj. All rights reserved.</p>
  </footer>
</body>
