<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus"></i>
      <span class="logo_name">KR Housing society</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#" class="active">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-box"></i>
          <span class="links_name">Billings</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Parking</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Services</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-coin-stack"></i>
          <span class="links_name">HouseAllowance</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-book-alt"></i>
          <span class="links_name"><a routerLink="/admin">Logout</a></span>
        </a>
      </li>

      <li class="log_out">
        <a href="#">
          <i class="bx bx-log-out"></i>
          <span class="links_name"
            ><a routerLink="/signup" class="text-danger">Log out</a></span
          >
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn"></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search..." />
        <i class="bx bx-search"></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Keshavaraj</span>
        <i class="bx bx-chevron-down"></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Houses</div>
            <div class="number">300</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class="bx bx-cart-alt cart"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Currently Occupied</div>
            <div class="number">150</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class="bx bxs-cart-add cart two"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Free Houses</div>
            <div class="number">100</div>
            <div class="indicator">
              <i class="bx bx-up-arrow-alt"></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class="bx bx-cart cart three"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Return</div>
            <div class="number">11,086</div>
            <div class="indicator">
              <i class="bx bx-down-arrow-alt down"></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class="bx bxs-cart-download cart four"></i>
        </div>
      </div>
    </div>
    <br />
    <h1 style="text-align: center">User Sign-up Credentials</h1>
    <br />
    <table class="table bg-light">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email</th>
          <th scope="col">Block name</th>
          <th scope="col">Password</th>
          <th scope="col">Confirm Password</th>
          <th scope="col">Remove User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of object">
          <td scope="row">{{ obj.username }}</td>
          <td scope="row">{{ obj.phonenumber }}</td>
          <td scope="row">{{ obj.gmail }}</td>
          <td scope="row">{{ obj.society }}</td>
          <td scope="row">{{ obj.password }}</td>
          <td scope="row">{{ obj.confirmpassword }}</td>
          <td scope="row">
            <button class="btn btn-danger" (click)="deluser(obj, obj)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />

    <div class="buttons text-center">
      <button (click)="getuser()">Get Data</button>
    </div>
  </section>
</body>
